body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: normal; color: #012748; }

.news { border: 1px solid #2F5170; border-spacing: 0; }
.news_header {font-size: 0.95em; color: #fff; background: #85AFD6; }
.news_content {}

.osnova {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: normal; color: #012748;}
.bbb {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; color: #FFFFFF; font-weight: bold}
.b2 {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; font-weight: bold; color: #012748}
.bbb2 {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; color: #FFFFFF; text-decoration: none}
.b1 {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: bold; color: #0158A6}
.b3 {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: bold; color: #012748}
